<div><h1 align="center">Lista de usuarios registrados</h1>
  <hr color="blue" size=3>
  &nbsp;&nbsp;&nbsp;<mat-form-field>
  <input placeholder="Nombre o apellido" class="form-control" matInput type="text" id="searchfield" name="searchfield">  
</mat-form-field>
  <button mat-raised-button id="searchbutton" (click)='buscar()' >Buscar</button>
</div>
<hr color="blue" size=3>
    <mat-list-item *ngFor="let usuario of usuarios">
      
      <div align="center">
        <mat-card>
        <mat-card-title>Nombre: {{usuario.psurname}}&nbsp;{{usuario.msurname}}&nbsp;{{usuario.names}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle> 
        <!-- &nbsp;{{usuario.patern_secondname}} &nbsp; {{usuario.mothern_secondname}}  -->
          <mat-card-actions>
            <button mat-raised-button color="primary" id="boton" (click)='openDialog(usuario.id)' >Informacion completa</button>
              <button mat-raised-button id="modificar" (click)='openDialogEdit(usuario)' >Modificar</button>
              <button mat-raised-button id="eliminar" (click)='eliminar(usuario)' >Eliminar</button>
              <br>
          </mat-card-actions>
        </mat-card>
      </div>
      <hr> 
    
    </mat-list-item> 
<router-outlet></router-outlet>