<mat-card>
    <mat-card-title> Editar datos del usuario</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='modificar(data.usuario.id)' >
          <div class="form-group">
            <mat-form-field>
                <input [(ngModel)]="data.usuario.email"
                placeholder="Email"
                class="form-control" 
                matInput type="text"    
                    id="email"
                    name="email" 
                    required> 
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="data.usuario.password"
                placeholder="Password"
                class="form-control" 
                matInput type="text"    
                id="password"
                name="password" 
                 required>  
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="data.usuario.names"
                placeholder="Name"
                class="form-control" 
                matInput type="text"    
                id="names"
                name="names" 
                 required>  
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="data.usuario.psurname"
                placeholder="Apellido paterno"
                class="form-control" 
                matInput type="text"    
                id="psurname"
                name="psurname" 
                 required>  
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="data.usuario.msurname"
                placeholder="Apellido materno"
                class="form-control" 
                matInput type="text"    
                id="msurname"
                name="msurname" 
                 required>  
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="data.usuario.phone"
                placeholder="Telefono"
                class="form-control" 
                matInput type="text"    
                id="phone"
                name="phone" 
                 required>  
            </mat-form-field>
            <br>
            <input type="submit" value="Guardar"  class="mat-raised-button">
        </div>
    </form>
    </div>
    </mat-card>
