<div><p align="center">Sub-Areas</p>
  <hr color="blue" size=3>
</div>

<mat-list-item *ngFor="let subarea of subareas">
  
  <div align="center">
    <mat-card>
    <mat-card-title>Nombre de la Sub-Area: {{subarea.NameSubArea}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button id="eliminar" (click)='eliminar(subarea)' >Eliminar</button>
      <button mat-raised-button id="modificar" (click)='openDialog(subarea)' >Modificar</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <hr> 

</mat-list-item> 
