<mat-card>
    <mat-card-title> Ingrese el nombre de la Sub Area</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='ingresar()' >
          <div class="form-group">
            <mat-form-field>
                <input 
                placeholder="Nombre"
                class="form-control" 
                matInput type="text"    
                    id="NameSubArea"
                    name="NameSubArea" 
                    required>  
            </mat-form-field>
            <br>
            <input type="submit" value="Guardar"  class="mat-raised-button">
        </div>
    </form>
    </div>
    </mat-card>