<mat-card>
        <mat-card-title> Editar datos de perfil</mat-card-title>
        <div>
        <form method="PATCH" #frm="ngForm" (ngSubmit)='modificar(data.perfil.id)' >
        <div class="form-group">
        <mat-form-field>
                <mat-select placeholder="Elegir Tutor" 
                id="tutor"
                (selectionChange)="tutorselect($event)" 
                [(ngModel)]="data.perfil.tutor"
                name="tutor">
                        <mat-option *ngFor="let tutor of data.tutores" [value]="tutor.id" >
                                {{tutor.nameTutor}}
                        </mat-option>
                </mat-select>
        </mat-form-field>
        <mat-checkbox type="checkbox" class="example-margin" id="continuo"
                    [checked]="data.perfil.conjunto"
                    (change)="verificar($event)"
                    [disabled]="disableFlagContinuo"
                    >Trabajo conjunto
        </mat-checkbox>
        <mat-checkbox class="example-margin" id="cambio"
                    [checked]="data.perfil.cambio"
                    (change)="verificar2($event)"
                    [disabled]="disableFlagCambio"
                    >Cambio de tema
        </mat-checkbox>
        <mat-form-field>
                <mat-select placeholder="Elegir carrera" id="carrera"
                (selectionChange)="carreraselect($event)"
                [(ngModel)]="data.perfil.idCarrera"
                name="carrera" > 
                  <mat-option *ngFor="let carrera of data.carreras" [value]="carrera.id" >
                    {{carrera.NameCareer}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">   
                <input [(ngModel)]="data.perfil.gestion"
                class="form-control"
                matInput type="text" 
                id="gestion" 
                name="gestion"
                placeholder="gestion"
                required readonly>   
        </mat-form-field>
        <mat-form-field class="example-full-width">   
                <input [(ngModel)]="data.perfil.titulo"
                class="form-control"
                matInput type="text" 
                id="titulo" 
                name="titulo"
                placeholder="Titulo"
                required>   
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Elegir Area" id="area"
                (selectionChange)="areaselect($event)"
                [(ngModel)]="data.perfil.idArea"
                name="area" 
                >
                  <mat-option *ngFor="let area of data.areas" [value]="area.id">
                    {{area.NameArea}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Elegir Sub-Area" id="subarea"
                (selectionChange)="subareaselect($event)"
                [(ngModel)]="data.perfil.idSubarea"
                name="subarea" 
                >
                  <mat-option *ngFor="let subarea of data.subareas" [value]="subarea.id">
                    {{subarea.NameSubArea}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Elegir Modalidad" id="modalidad"
                (selectionChange)="modalidadselect($event)"
                [(ngModel)]="data.perfil.idModalidad"
                name="modalidad" 
                >
                  <mat-option *ngFor="let modalidad of data.modalidades" [value]="modalidad.id">
                    {{modalidad.NameModality}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field>
                <textarea [(ngModel)]="data.perfil.obj_general"
                class="form-control"
                matInput type="text" 
                id="general" 
                name="general"
                placeholder="Objetivo general"
                required></textarea>
        </mat-form-field>
        <mat-form-field>
                <textarea [(ngModel)]="data.perfil.obj_especificos"
                class="form-control"
                matInput type="text" 
                id="especificos" 
                name="especificos"
                placeholder="Objetivos especificos"
                required></textarea>
        </mat-form-field>
        <mat-form-field>
                <textarea [(ngModel)]="data.perfil.descripcion"
                class="form-control"
                matInput type="text" 
                id="descripcion" 
                name="descripcion"
                placeholder="Descripcion"
                required></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">   
                <input [(ngModel)]="data.perfil.director_carrera"
                class="form-control"
                matInput type="text" 
                id="director" 
                name="director"
                placeholder="Director de carrera"
                required>     
        </mat-form-field>
        <mat-form-field class="example-full-width">   
                <input [(ngModel)]="data.perfil.docente_materia"
                class="form-control"
                matInput type="text" 
                id="docente" 
                name="docente"
                placeholder="Docente de materia"
                required>   
        </mat-form-field>
        <br>
        <input type="submit" value="Guardar"  class="mat-raised-button">
        </div>
    </form>
</div>
</mat-card>