<div><h1 align="center">Lista de perfiles de grado registrados</h1>
  <hr color="blue" size=3>
  &nbsp;&nbsp;&nbsp;<mat-form-field>
  <input placeholder="Titulo o carrera" class="form-control" matInput type="text" id="searchfield" name="searchfield">  
</mat-form-field>
  <button mat-raised-button id="searchbutton" (click)='buscar()' >Buscar</button>
</div>
<hr color="blue" size=3>
    <mat-list-item *ngFor="let perfil of perfiles">
      
      <div align="center">
        <mat-card>
        <!-- <mat-card-title>Perfil {{perfil.id}}</mat-card-title> -->
        <mat-card-title>Titulo del perfil: {{perfil.titulo}}</mat-card-title> 
        <mat-card-content>Objetivo: {{perfil.obj_general}}</mat-card-content>
           <mat-card-content>Gestion de aprobacion:{{perfil.gestion}}</mat-card-content>
           <mat-card-actions>
            <button mat-raised-button color="primary" (click)='openDialog(perfil.client_id)' >Estudiante asociado</button>
            <button mat-raised-button color="primary" (click)='openDialogPerfil(perfil)' >Perfil completo</button>
            <button mat-raised-button color="primary" (click)='openDialogEdit(perfil)' >Editar perfil</button>
            <button mat-raised-button color="primary" (click)='delete(perfil)' >Eliminar perfil</button>
          </mat-card-actions>
        </mat-card>
        </div>
        <hr> 
          </mat-list-item>
<router-outlet></router-outlet>