<h1 mat-dialog-title>Informacion del usuario asociado</h1>
<div mat-dialog-content>
  <mat-card-content>Correo electronico: {{data.usuario.email}}</mat-card-content>
<mat-card-content>Contraseña: {{data.usuario.password}}</mat-card-content>
<mat-card-content>Nombres: {{data.usuario.names}}</mat-card-content>
<mat-card-content>Apellido Paterno: {{data.usuario.psurname}}</mat-card-content>
<mat-card-content>Apellido Materno: {{data.usuario.msurname}}</mat-card-content>
<mat-card-content>Telefono: {{data.usuario.phone}}</mat-card-content>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Ok</button>
</div>
