<h1 mat-dialog-title>Informacion completa del perfil</h1>
<mat-card>
    <mat-card-title>Perfil {{data.perfil.id}}</mat-card-title>
    <mat-card-subtitle>Titulo del perfil: {{data.perfil.titulo}}</mat-card-subtitle>
    <mat-card-content> Area:{{data.area.NameArea}} </mat-card-content> 
       <mat-card-content>Sub-area:{{data.subarea.NameSubArea}} </mat-card-content> 
       <mat-card-content>Carrera: {{data.carrera.NameCareer}}</mat-card-content>
       <mat-card-content>Modalidad: {{data.modalidad.NameModality}}</mat-card-content>
       <mat-card-content>Objetivo General:{{data.perfil.obj_general}}</mat-card-content>
       <mat-card-content>Objetivos Especificos:{{data.perfil.obj_especificos}}</mat-card-content>
       <mat-card-content>Descripcion:{{data.perfil.descripcion}}</mat-card-content>
       <mat-card-content>Director de carrera:{{data.perfil.director_carrera}}</mat-card-content>
       <mat-card-content>Docente de la materia:{{data.perfil.docente_materia}}</mat-card-content>
       <mat-card-content>Tutor:{{data.perfil.tutor}}</mat-card-content>
       <mat-card-content>Gestion de aprobacion:{{data.perfil.gestion}}</mat-card-content>
  <button mat-button (click)="onNoClick()">Ok</button>
</mat-card>
