<mat-card>
    <mat-card-title> Ingrese el nombre del Area</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='ingresar()' >
          <div class="form-group">
            <mat-form-field>
                <input 
                placeholder="Nombre"
                class="form-control" 
                matInput type="text"    
                    id="NameArea"
                    name="NameArea" 
                    (keyup)="verificar($event.target.value)"
                    
                    required>  
            </mat-form-field>
            <br>
            <input type="submit" id="submitbut" value="Guardar"  class="mat-raised-button" disabled>
        </div>
    </form>
    </div>
    </mat-card>
    <!-- [(ngModel)]="area.NameArea" -->