<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Inicio
        <mat-icon class="example-icon">home</mat-icon> 
      </a>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/image/logos.jpg" width="60" height="60">
      <span>Universidad Mayor de San Simon</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">alarm</mat-icon> 
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="centrar">            
      <!--listar areas-->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Lista de areas</mat-card-title>   
        </mat-card-header>   
        <mat-card-content>                  
          <form class="example-form">                               
            <mat-toolbar-row *ngFor="let area of areas">
                <span>{{ area.area}}</span>
                <span class="example-spacer"></span>                  
                  <mat-icon class="example-icon" matTooltip="sub-areas">visibility</mat-icon>                                                      
                  <mat-icon class="example-icon" matTooltip="editar">update</mat-icon>
                  <mat-icon class="example-icon" matTooltip="Borrar">delete</mat-icon>
            </mat-toolbar-row>                                                                                                                                 
          </form>   
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>   
        </mat-card-content>   
        <mat-card-actions>   
             
        </mat-card-actions>   
      </mat-card>      
    </div>              
  </mat-sidenav-content>
</mat-sidenav-container>
