.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 250px;
  max-width: 800px;
  width: 90%;
}

.example-full-width {
  width: 90%;
}

.centrar
{      
  position: absolute;      
  /*nos posicionamos en el centro del navegador*/      
  top:10%;      
  left:15%;      
  /*determinamos una anchura*/      
  width:800px;  
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/      
  /*margin-left:-200px; */     
  /*determinamos una altura*/      
  /*height:300px;*/      
  /*indicamos que el margen superior, es la mitad de la altura*/      
  /*margin-top:-150px;*/                      
  padding:20px;    
}  

.button-row button,
.button-row a {
  margin-left: 70px;
  tab-size: 40px;
}

