<div><p align="center">Carreras</p>
  <hr color="blue" size=3>
</div>

<mat-list-item *ngFor="let carrera of carreras">
  
  <div align="center">
    <mat-card>
    <mat-card-title>Nombre de la Carrera: {{carrera.NameCareer}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button id="eliminar" (click)='eliminar(carrera)' >Eliminar</button>
      <button mat-raised-button id="modificar" (click)='openDialog(carrera)' >Modificar</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <hr> 

</mat-list-item> 
