<mat-card>
    <mat-card-title> Ingrese el nuevo nombre del Tutor</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='modificar(data.tutor.id)' >
          <div class="form-group">
            <mat-form-field>
                <input [(ngModel)]="data.tutor.nameTutor"
                class="form-control" 
                matInput type="text"    
                    id="nameTutor"
                    name="nameTutor" 
                    required>  
            </mat-form-field>
            <br>
            <input type="submit" value="Guardar"  class="mat-raised-button">
        </div>
    </form>
    </div>
    </mat-card>