<div><p align="center">Tutor</p>
  <hr color="blue" size=3>
</div>

<!-- {{tutors}} -->
<mat-list-item *ngFor="let tutor of tutors">
  
  <div align="center">
    <mat-card>
    <mat-card-title>Nombre del Tutor: {{tutor.nameTutor}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button id="eliminar" (click)='eliminar(tutor)' >Eliminar</button>
      <button mat-raised-button id="modificar" (click)='openDialog(tutor)' >Modificar</button>
     </mat-card-actions>
  </mat-card>
  </div>
<br>
</mat-list-item> 
