<mat-card>
    <mat-card-title> Ingrese el nuevo nombre del Area</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='modificar(data.area.id)' >
          <div class="form-group">
            <mat-form-field>
                <input [(ngModel)]="data.area.NameArea"
                class="form-control" 
                matInput type="text"    
                    id="NameArea"
                    name="NameArea" 
                    (keyup)="verificar($event.target.value)"
                    required>  
            </mat-form-field>
            <br>
            <input type="submit" value="Guardar" id="submitbut" class="mat-raised-button" disabled>
        </div>
    </form>
    </div>
    </mat-card>