<div><p align="center">Areas</p>
  <hr color="blue" size=3>
</div>

<mat-list-item *ngFor="let area of areas">
  
  <div align="center">
    <mat-card>
    <mat-card-title>Nombre del Area: {{area.NameArea}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button id="eliminar" (click)='eliminar(area)' >Eliminar</button>
      <button mat-raised-button id="modificar" (click)='openDialog(area)' >Modificar</button>
     </mat-card-actions>
  </mat-card>
  </div>
<br>
</mat-list-item> 
