     <mat-toolbar color="primary">
        <button mat-icon-button>
           <img src="assets/image/logos.jpg" width="30px" height="40px">
         </button>
         <span>UNIVERSIDAD MAYOR DE SAN SIMON</span>
      </mat-toolbar>
         <nav>
          <a *ngIf="estado===false">
                  <button mat-button color="primary" 
                  [routerLink]="'/login'">
                     Ingreso
                  </button>
              </a>
              <a *ngIf="estado===false">
                <button mat-button color="primary" 
                [routerLink]="'/inputusuario'">
                   + Nuevo Usuario
                </button>
            </a>
<a *ngIf="estado===true">              
              <a>
      <button mat-button color="primary" [matMenuTriggerFor]="profiles">Gestion de Perfiles</button>
      <mat-menu #profiles="matMenu">
          <button mat-menu-item [routerLink]="'/profiles'">Ver lista de perfiles</button>
        <button mat-menu-item [routerLink]="'/formulario'">Añadir un perfil</button>
      </mat-menu>
   </a>
   <a>
      <button mat-button color="primary" [matMenuTriggerFor]="users">Gestion de Usuarios</button>
      <mat-menu #users="matMenu">
        <button mat-menu-item [routerLink]="'/users'">Ver lista de usuarios</button>
        <button mat-menu-item [routerLink]="'/inputusuario'">Añadir usuario</button>
      </mat-menu>
  </a>
   <a>
      <button mat-button color="primary" [matMenuTriggerFor]="careers">Gestion de Carreras</button>
      <mat-menu #careers="matMenu">
          <button mat-menu-item [routerLink]="'/carreras'">Ver lista de carreras</button>
        <button mat-menu-item [routerLink]="'/inputcarrera'">Añadir carrera</button>
      </mat-menu>
   </a>
   <a>
      <button mat-button color="primary" [matMenuTriggerFor]="modalities">Gestion de Modalidades</button>
      <mat-menu #modalities="matMenu">
          <button mat-menu-item [routerLink]="'/modalidades'">Ver lista de modalidades</button>
        <button mat-menu-item [routerLink]="'/inputmodalidad'">Añadir modalidad</button>
      </mat-menu>
  </a>
  <a>
      <button mat-button color="primary" [matMenuTriggerFor]="areas">Gestion de Areas</button>
      <mat-menu #areas="matMenu">
          <button mat-menu-item [routerLink]="'/areas'">Ver lista de areas</button>
        <button mat-menu-item [routerLink]="'/inputarea'">Añadir area</button>
      </mat-menu>
</a>
<a>
    <button mat-button color="primary" [matMenuTriggerFor]="subareas">Gestion de Sub-Areas</button>
    <mat-menu #subareas="matMenu">
        <button mat-menu-item [routerLink]="'/subareas'">Ver lista de Sub-Areas</button>
      <button mat-menu-item [routerLink]="'/inputsubarea'">Añadir sub-area</button>
    </mat-menu>
</a>
    <a>
        <button mat-button color="primary" [matMenuTriggerFor]="tutors">Gestion de Tutores</button>
        <mat-menu #tutors="matMenu">
            <button mat-menu-item [routerLink]="'/tutors'">Ver lista de tutores</button>
            <button mat-menu-item [routerLink]="'/inputtutors'">Añadir tutor</button>
        </mat-menu>
    </a>
<a>
    <button mat-button color="primary" 
    (click)='eliminarsesion()'>
       Salir
    </button>
</a>
</a>
  </nav>
<router-outlet></router-outlet>

