    <div >
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>   
            </mat-card-header>   
            <mat-card-content>   
              <form class="example-form">   
                <table class="example-full-width" cellspacing="0">   
                  <tr>   
                    <td>   
                      <mat-form-field class="example-full-width">   
                      <input matInput placeholder="Email" [(ngModel)]="email" name="email" id="email" required>   
                      </mat-form-field>   
                    </td>   
                  </tr>   
                  <tr>   
                    <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Contraseña" [(ngModel)]="password"type="password" id="password" name="password" required>   
                    </mat-form-field></td>   
                  </tr>
                </table>   
              </form>   
              <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>   
            </mat-card-content>   
            <mat-card-actions>   
              <button mat-raised-button (click)="login()" color="primary">Login</button>   
            </mat-card-actions>   
          </mat-card>
    </div>