    <div >
      <br>
      <mat-card-title>Formulario de Registro de Perfil</mat-card-title>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>   
        </mat-card-header>   
        <mat-card-content>                  
          <form class="example-form">   
            <table class="example-full-width" cellspacing="0">   
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Datos Personales</mat-panel-title>
                    <mat-panel-description>Ingresar datos personales</mat-panel-description>
                  </mat-expansion-panel-header>                          
                  <!-- <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Ap. paterno">   
                  </mat-form-field></td><br>                                                                                                        
                  <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Ap. materno">   
                  </mat-form-field></td><br>                                                                 
                  <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Nombres">   
                  </mat-form-field></td><br>                                                                                                                                                   
                  <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Telefono">   
                  </mat-form-field></td><br>                                    
                  <td><mat-form-field class="example-full-width">   
                    <input matInput placeholder="Email">   
                  </mat-form-field></td><br>                                                                      -->
                  <mat-form-field>
                      <mat-select placeholder="Elegir Estudiante" id="estudiante"
                      (selectionChange)="estudianteselect($event)"
                      >
                        <mat-option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">
                          {{estudiante.email}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Datos Institucionales</mat-panel-title>
                    <mat-panel-description>Ingresar datos correspondientes a la carrera</mat-panel-description>                            
                  </mat-expansion-panel-header>
                 
                  <td>
                    <mat-checkbox type="checkbox" class="example-margin" id="continuo"
                    [checked]="false"
                    (change)="verificar($event)"
                    [disabled]="disableFlagContinuo"
                    >Trabajo conjunto</mat-checkbox>
                  </td>
                  <td>
                    <mat-checkbox class="example-margin" id="cambio"
                    [checked]="false"
                    (change)="verificar2($event)"
                    [disabled]="disableFlagCambio"
                    >Cambio de tema</mat-checkbox>
                  </td>                               
                  <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Elegir carrera" id="carrera"
                            (selectionChange)="carreraselect($event)" > 
                              <mat-option *ngFor="let carrera of carreras" [value]="carrera.id" >
                                {{carrera.NameCareer}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                        </td>
                       

                    <td>
                      <mat-select placeholder="Elegir Gestion" id="gestion" [value]="seleccionar">
                        <!-- <mat-option>ninguno</mat-option> -->
                        <mat-option value="1">I-2018</mat-option>
                        <mat-option value="2">II-2018</mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <mat-form-field>
                          <mat-select placeholder="Elegir Tutor" id="tutor"
                          (selectionChange)="tutorselect($event)" > 
                            <mat-option *ngFor="let tutor of tutores" [value]="tutor.id" >
                              {{tutor.nameTutor}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                      </td>

                  </tr>                                                                                                        
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>Informacion del Perfil</mat-panel-title>
                    <mat-panel-description>Ingresar datos del perfil</mat-panel-description>                            
                  </mat-expansion-panel-header>
                  <tr>   
                    <mat-form-field class="example-full-width">   
                      <input matInput placeholder="Titulo" id="titulo">   
                    </mat-form-field>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Elegir Area" id="area"
                            (selectionChange)="areaselect($event)"
                            >
                              <mat-option *ngFor="let area of areas" [value]="area.id">
                                {{area.NameArea}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Elegir Sub-Area" id="subarea"
                            (selectionChange)="subareaselect($event)"
                            >
                              <mat-option *ngFor="let subarea of subareas" [value]="subarea.id">
                                {{subarea.NameSubArea}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>                         
                  </tr>
                  <tr>                            
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Elegir Modalidad" id="modalidad"
                            (selectionChange)="modalidadselect($event)"
                            >
                              <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad.id">
                                {{modalidad.NameModality}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                    <td>
                        <mat-form-field>
                            <textarea matInput placeholder="Objetivo general" id="general"></textarea>
                          </mat-form-field>
                    </td>                              
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field>
                        <textarea matInput placeholder="Objetivos especificos" id="especificos"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field>
                            <textarea matInput placeholder="Descripcion" id="descripcion"></textarea>
                          </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <mat-form-field class="example-full-width">   
                              <input matInput placeholder="Director de carrera" id="director">   
                            </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">   
                                <input matInput placeholder="Docente de materia" id="docente">   
                              </mat-form-field>
                        </td>
                      </tr>
                </mat-expansion-panel>
              </mat-accordion>                                                                                           
            </table>   
          </form>   
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>   
        </mat-card-content>   
        <mat-card-actions>   
          <button mat-raised-button (click)="register()" color="primary">Registrar</button>   
        </mat-card-actions>   
      </mat-card>
    </div>              