<div><p align="center">Modalidades</p>
  <hr color="blue" size=3>
</div>

<mat-list-item *ngFor="let modalidad of modalidades">
  
  <div align="center">
    <mat-card>
    <mat-card-title>Nombre de la Modalidad: {{modalidad.NameModality}}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button id="eliminar" (click)='eliminar(modalidad)' >Eliminar</button>
      <button mat-raised-button id="modificar" (click)='openDialog(modalidad)' >Modificar</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <hr> 

</mat-list-item> 
