<mat-card>
    <mat-card-title> Ingrese los datos del usuario</mat-card-title>
    <div>
      <form method="PATCH" #frm="ngForm" (ngSubmit)='ingresar()' >
          <div class="form-group">
            <mat-form-field>
                <input 
                placeholder="Email"
                class="form-control" 
                matInput type="text"    
                    id="email"
                    name="email" 
                    required>  
            </mat-form-field>
            <br>
            <mat-form-field>
                    <input 
                    placeholder="Password"
                    class="form-control" 
                    matInput type="text"    
                        id="password"
                        name="password" 
                        required>  
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input 
                    placeholder="Nombres"
                    class="form-control" 
                    matInput type="text"    
                        id="names"
                        name="names" 
                        required>  
                </mat-form-field>
                <mat-form-field>
                    <input 
                    placeholder="Apellido Paterno"
                    class="form-control" 
                    matInput type="text"    
                        id="psurname"
                        name="psurname" 
                        required>  
                </mat-form-field>
                <mat-form-field>
                    <input 
                    placeholder="Apellido Materno"
                    class="form-control" 
                    matInput type="text"    
                        id="msurname"
                        name="msurname" 
                        required>  
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input 
                    placeholder="Telefono"
                    class="form-control" 
                    matInput type="text"    
                        id="phone"
                        name="phone" 
                        required>  
                </mat-form-field>
            <br>
            <input type="submit" value="Guardar"  class="mat-raised-button">
        </div>
    </form>
    </div>
    </mat-card>
